body {
	font-family: Arial;
	font-size: 15px;
}


nav {
	position: fixed;
	background-color: gray;
	height: 50px;
	width: 100%;
	text-align: right;
}

.navbar div {
	text-align: left;
	display: inline-block;
	left: 10px;
	width: 100px;
	height: 50px;
	padding: 00px;
	margin: 0px;
	border: 0px;
}

.navbar ul {
	display: inline-block;
	width: 100px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	text-align: horizontal;
	color: purple;
}

.search-engine {
	display: block;
}

#submit-search-term {
	background-image: url(magnifying-glass.png);
	background-size:;
	width:;
	height:;
}

.browse-search-results {
	text-align: horizontal;
}

.job-listings {
	color: gray;
}

.job-title {
	font-size: 17px;
	color: blue;
	font-weight: bold;
	padding: 10px;
}

li {
	list-style-type: none;
}

.browseresults li {
	border: 2px gray solid;
	border-radius: 1px;
	padding: 10px;
}